<div class="container" *ngIf="myOrders.length>0;else show">
    <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Cost</th>
              <th scope="col">Details</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of myOrders; let index = index">
              <td>{{ order.orderDate | date :'medium'}}</td>
              <td>{{ order.foodCart.cost }}</td>
              <td><button class="btn btn-primary" [routerLink]="['../../foodcart',order.foodCart.cartId]">view</button></td>
              <td><button class="btn btn-primary" *ngIf="order.status!='Accept'" >{{order.status}}</button>
              <button class="btn btn-primary" *ngIf="order.status=='Accept'" >Accepted</button></td>
               </tr>
          </tbody>
        </table>
      </div>
</div>

<ng-template #show>
  <div class="text-center my-5">
    <h1>No Orders Yet</h1>
    <button class="btn btn-primary" routerLink="../../items">View Items</button>
  </div>
</ng-template>