<div class="containerLanding">
  <div class="mainLanding">
    <div class="landingMainUpper">
      <div class="LandingLogo">
        <img src="../../../assets/Images/homeLogo.png" alt="" />
      </div>
      <div class="flexBox">
        <button class="btn btn-dark mx-1 btn-lg" routerLink="../login">Login</button>
        <button class="btn btn-dark mx-1 btn-lg" routerLink="../register">Register</button>
      </div>
    </div>

    <div class="landingContent pl-2">
      <h1 class="alert alert-dark">Hungry ?</h1>
      <h1 class="alert alert-dark">Late night at office?</h1>
      <h1 class="alert alert-dark">Cooking gone wrong?</h1>
      <h1 class="alert alert-dark">Unexpected guests?</h1>
    </div>
  </div>
  <div class="imgLanding">
    <img src="../../../assets/Images/homeHero.png" alt="" />
  </div>
</div>

<div class="flexBoxEven featuresLanding">
  <div class="felanding" style="margin-left: 2rem">
    <div class="featureImg">
      <img src="../../../assets/Images/homeFeature1.jpg" alt="" />
    </div>
    <p class="text-light">No Minimum Order</p>
  </div>

  <div class="felanding">
    <div class="featureImg">
      <img src="../../../assets/Images/homeFeature2.jpg" alt="" />
    </div>
    <p class="text-light" style="margin-left: 2rem">Live Order Tracking</p>
  </div>

  <div class="felanding" style="margin-right: 2rem">
    <div class="featureImg">
      <img src="../../../assets/Images/homeFeature3.jpg" alt="" />
    </div>
    <p class="text-light">Lightning-Fast Delivery</p>
  </div>
</div>

<div class="flexBox android">
  <div class="androidContent">
    <h1>Restaurants in your pocket</h1>
    <p>
      Order from your favorite restaurants & track on the go, with the all-new
      Pro-Food App.
    </p>
  </div>
  <div class="androidImg">
    <img src="../../../assets/Images/homeAndroid.jpg" alt="" />
  </div>
</div>
<app-footer></app-footer>