img{
    margin-left: 2rem;
    width: 60px;
}
.navbar{
    background-color: #ffffff !important;

}
ul{
    position: relative;
}
.buttonDiv{
    display: flex;
    position: absolute;
    left: 950px;
}
.controlButtons{
 position: relative;
}
.openClose{
    position: absolute;
    right: 20px;
}