<nav class="navbar navbar-expand bg-light">
    <div class="container-fluid">
      <img src="../../../assets/Images/logoNav.jpg" alt="" />
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pt-3 navItems" id="navbarNav">
        <ul class="navbar-nav navite">
          <li class="nav-item">
            <p class="nav-link" style="margin-right: 500px; margin-left: 1rem">
              <strong>Home</strong>
            </p>
          </li>
          <li class="nav-item " routerLink="../view-order">
            <p class="nav-link mx-2 "><strong>Orders</strong></p>
          </li>
          <li class="nav-item" routerLink="../manage-category">
            <p class="nav-link mx-2 " ><strong>Category</strong></p>
          </li>
          <li class="nav-item" routerLink="../manage-item"> 
            <p class="nav-link mx-2 " ><strong>Item</strong></p>
          </li>
          <li class="nav-item" routerLink="../cart">
            <p class="nav-link mx-2"><strong>Cart</strong></p>
          </li>
          <li class="nav-item" routerLink="../help">
            <p class="nav-link mx-2 "><strong>Help</strong></p>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  