<div class="Footer flexBox">
    <div class="aboutFooter text-center px-3">
        <h4 class="text-light">About Us</h4>
        <p class="text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos minus corrupti laudantium repudiandae quasi suscipit commodi.</p>
    </div>
    <div class="linkFooter text-light text-center px-3 ">
        <h4>Useful Links</h4>
        <p>Our Policies</p>
        <p>Our Trademark</p>
        <p>Our Legacy</p>
    </div>
    <div class="contactFooter text-light text-center px-3">
        <h4>Contact US</h4>
        <p>FACEBOOK</p>
        <p>INSTAGRAM</p>
        <p>TWITTER</p>
    </div>
</div>
<div >
    <h5 class="text-center ">&copy; 2023 Copyright ProFoods </h5>
</div>